hr {
    box-sizing: border-box;
    height:5px;
    background-color: rgba(88, 27, 255, 0.726);
    border: none;
    border-radius: 2px;
    margin-top: 30px;
}
fieldset {
    border:2px solid rgba(95, 36, 255, 0.493);;
    box-sizing: border-box;
    border-radius:5px;
}

nav {
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 30;
}
.head-home{
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    width: 160px;
    height: 30px;
    border-radius:10px 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(201, 201, 201);
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.head-home::after{
    content: "";
    background-color: rgb(201, 201, 201);
    width: 200%;
    height: 1px;
    bottom: -1;
    left:100%;
    position: absolute;
    cursor:default;
}
.head-home::before{
    content: "";
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: 1px;
    bottom: -1;
    left: 0;
    position: absolute;
}
.exportar {
    top:-30px;
    left:145px;
    z-index:0;
}
.exportar::after {
    width: 115%;
}
.head-activo {
    background-color: rgb(255, 255, 255);
    z-index:10;
}
.head-activo::before {
    background-color: rgb(255, 255, 255);
}



nav a {
    text-decoration: none;
    color:black;
}