hr {
    box-sizing: border-box;
    height:5px;
    background-color: rgba(88, 27, 255, 0.726);
    border: none;
    border-radius: 2px;
    margin-top: 30px;
}
fieldset {
    border:2px solid rgba(49, 14, 146, 0.61);;
    box-sizing: border-box;
    border-radius:5px;
}

nav {
    width: 85%;
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 30;
}
.head-home{
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    width: 160px;
    height: 30px;
    border-radius:10px 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(201, 201, 201);
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.head-home::after{
    content: "";
    background-color: rgb(201, 201, 201);
    width: 10%;
    height: 1px;
    bottom: -1;
    left:100%;
    position: absolute;
    cursor:default;
}
.head-home::before{
    content: "";
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: 1px;
    bottom: -1;
    left: 0;
    position: absolute;
}
.exportar {
    top:-30px;
    left:160px;
    z-index:0;
}
.exportar::after {
    width: 0%;
}
.head-activo {
    background-color: rgb(255, 255, 255);
    z-index:10;
}
.head-activo::before {
    background-color: rgb(255, 255, 255);
}



nav a {
    text-decoration: none;
    color:black;
}

.contenedor-frase {
    position: fixed;
    left: 2%;
    top: 40%;
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 10000;
}
.contenedor-frase .frase{
    text-align: center;
    padding:0px 15px;
    font-size: 1.1rem;
    margin: 0;
}
.contenedor-frase .autor{
    font-style: italic;
    width: 100%;
    box-sizing: border-box;
    text-align: end;
    padding-right: 30px;
    padding-top: 5px;
    margin: 0;
    color: rgb(134, 134, 134);
}

@media screen and (max-width: 1170px){
    .contenedor-frase {
        display: none;
    }
}