body {
  background-color: #f0f0f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
form > div {
  width: 100%;
}
form {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M7.2 2.1L4 5.3 0.8 2.1c-.5-.5-.5-1.3 0-1.8.5-.5 1.3-.5 1.8 0l1.4 1.4 1.4-1.4c.5-.5 1.3-.5 1.8 0 .5.5.5 1.3 0 1.8z" fill="%23434343"/></svg>') no-repeat right 0.75rem center;
  background-size: 8px;
}

button[type="submit"],
button[type="reset"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #6c63ff;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #5a4dd5;
}