@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
  width: 100%;
}

body {
  background-color: #f0f0f0;
  width:100%;
}

.container {
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 100vh;
}
form > div {
  width: 100%;
}
form {
  width: 85%;
  display: grid;
  grid-gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input:focus,
select:focus {
  outline: 2px solid #6c63ff;
}
input:active,
select:active {
  border: 2px solid #6c63ff;
  outline: 2px solid #6c63ff;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M7.2 2.1L4 5.3 0.8 2.1c-.5-.5-.5-1.3 0-1.8.5-.5 1.3-.5 1.8 0l1.4 1.4 1.4-1.4c.5-.5 1.3-.5 1.8 0 .5.5.5 1.3 0 1.8z" fill="%23434343"/></svg>') no-repeat right 0.75rem center;
  background-size: 8px;
}

button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #6c63ff;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover{
  background-color: #5a4dd5;
}
.btn-descargarEXCEL{
  background-color: #2ecc71;
}
.btn-descargarEXCEL:hover {
  background-color: #239954;
}

table thead tr th {
  padding: 0 5px;
}
table thead tr {
  background-color: #6b63ffc0; 
  line-height:30px;
  color: #ffffff;
}
table tbody tr {
  border-bottom: 1px solid #13837a49;
  line-height: 35px;
  text-align: center;
}
table tbody tr svg {
  margin: auto;
  cursor: pointer;
}
table tbody tr:nth-of-type(even) {
  background-color: #99d8c42a; 
} 
table tbody tr:last-of-type {
  border-bottom: 1px solid #5b4dd5b4; 
}